{% extends "calendarapp/blank.html" %}


{% load i18n staticfiles %}

{% block head_title %}{% trans "Fullcalendar" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'schedule.js' %}"></script>
    <link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}"/>
    <script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
    <script>
        function checkAddress(checkbox) {


            if (!checkbox.checked) {
                var event={ id: 1 , title: 'New event', start:  new Date()};
                $('#calendar').fullCalendar( 'renderEvent', event, true);
            }else{

                $('#calendar').fullCalendar( 'removeEvent', 1);
            }


        }
    </script>
{% endblock %}

{% block body %}

 {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
 {% endif %}


  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Criar novo Evento</div>
      <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_description">Tipo</label>
            <input class="form-control" id="id_type" type="text" name="type" placeholder="Introduz o tipo do evento" required>
          </div>
          <div class="form-group">
            <label for="id_title">Título</label>
            <input class="form-control" id="id_title" name="title" type="text" placeholder="Introduz nome evento" required>
          </div>
          <div class="form-group">
            <label for="id_description">Descrição</label>
            <input class="form-control" id="id_description" type="text" name="description" placeholder="Introduz descrição" required>

          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="id_date_start">Data início</label>
                <input class="form-control" id="id_date_start" type="date" name="date_start"  required>
              </div>
              <div class="col-md-6">
                <label for="id_time_start">Hora início</label>
                <input class="form-control" id="id_time_start" type="time" name="time_start" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="id_password">Data fim</label>
                <input class="form-control" id="id_end_date" type="date" name="date_end" placeholder="Password" required>
              </div>
              <div class="col-md-6">
                <label for="id_password">Hora fim</label>
                <input class="form-control" id="id_end_time" type="time" name="time_end"required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_description">Local</label>
            <input class="form-control" id="id_description" type="text" name="place" placeholder="Introduz o local" required>

          </div>
            <div class="form-group">
               <label for="id_description">Photo</label>
             <input id="id_image" type="file" class="" name="image" required>
           </div>
           <input type="submit" class="btn btn-primary btn-block"/>

        </form>
        <div class="text-center">
          <a class="d-block small" href="/calendarapp/dashboard">Back</a>
        </div>
      </div>
    </div>
  </div>
  {% block js %}
  <script src="{% static 'calendarapp/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'calendarapp/vendor/popper/popper.min.js'%}"></script>
  <script src="{% static 'calendarapp/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'calendarapp/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
  {% endblock %}
{% endblock %}